
  body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
    height: 100vh;
    margin: 0;
  }
  
  .container {
    margin:10% auto;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    max-width: 350px;
    width: 100%;
    text-align: center;
  }

  h2 {
    margin-bottom: 20px;
    color: #333;
  }

  label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
  }

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
  }

  input:focus {
    border-color: #74ebd5;
    box-shadow: 0 0 5px rgba(116, 235, 213, 0.8);
  }

  .btn1 {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: #74ebd5;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
  }

  .btn1:hover {
    background: #5ac7bb;
  }

  .result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
