body {
  background: linear-gradient(135deg, #89f7fe, #66a6ff);
  font-family: "Poppins", sans-serif;
  height: 130vh;
  margin: 0;
  padding: 0;
}

.calculator {
  margin: 15px auto;
  background: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  width: 320px;
  text-align: center;
}

.calculator h1 {
  margin-bottom: 10px;
  color: #333;
}

#display {
  width: 90%;
  height: 50px;
  font-size: 22px;
  text-align: right;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
  background: #f3f3f3;
  padding-right: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 60px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background-color: #e6e6e6;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #d4d4d4;
}

.operator {
  background-color: #66a6ff;
  color: white;
}

.equal {
  background-color: #00c9a7;
  color: white;
}

.clear {
  background-color: #ff6b6b;
  color: white;
  grid-column: span 4;
}
